.chattingPage {
  position: relative;
  display: flex;
  width: 100%;
  height: 93vh;
  /* background-color: black; */
  /* border: 0.1rem solid red; */
}

.chattingPage .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: var(--primary_bg2); */
  /* border: 0.1rem solid white; */
}

/* ------------------------------------ */
/* Chat Area Page Header Content : Starts here */
/* ------------------------------------ */

.chattingPage .header {
  position: relative;
  display: flex;
  width: 100%;
  height: 4.5rem;
  background-color: var(--primary_bg1);
  /* border: 0.1rem solid yellowgreen; */
}

.chattingPage .header .left_cover {
  position: relative;
  display: flex;
  align-items: center;
  width: 85%;
  height: 100%;
  gap: 0.3rem;
  padding: 0.1rem 0.5rem;
  /* border: 0.1rem solid black; */
}

.chattingPage .header .left_cover .back_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  /* border: 0.1rem solid black; */
}

.chattingPage .header .left_cover .back_btn .icons {
  color: white;
  font-size: 1.8rem;
}

.chattingPage .header .left_cover .pic_info {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.chattingPage .header .left_cover .pic_info .icons {
  font-size: 1.9rem;
  color: white;
}

.chattingPage .header .left_cover .name_info {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 2.2rem - 2.5rem - 1rem);
  height: 100%;
  /* border: 0.1rem solid red; */
}
.chattingPage .header .left_cover .name_info p {
  font-family: var(--text_font);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chattingPage .header .left_cover .name_info .name {
  font-size: 1.3rem;
}
.chattingPage .header .left_cover .name_info .live_status {
  font-size: 0.9rem;
}

.chattingPage .header .right_cover {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 15%;
  height: 100%;
  padding-right: 0.4rem;
  /* border: 0.1rem solid red; */
}
.chattingPage .header .right_cover .opt_cover {
  z-index: 500;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  top: 1rem;
  width: 13rem;
  right: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border: 0.05rem solid var(--footer_border);
  background-color: var(--primary_bg1);
}

.chattingPage .header .right_cover .opt_cover span {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 0.5rem;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: var(--text_font);
  border-radius: 1rem;
  border: 0.02rem solid var(--footer_border);
  background-color: var(--primary_bg1);
}

.chattingPage .header .right_cover .opt_cover span:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.09rem solid var(--black_border);
}
.chattingPage .header .right_cover .opt_cover span .icons {
  color: #ffffff;
  font-size: 1.3rem;
}
.chattingPage .header .right_cover .opt_cover span:hover .icons {
  color: #000000;
}

.chattingPage .header .right_cover .opt_cover span label {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.chattingPage .header .right_cover .opt_cover span label input {
  position: absolute;
  display: flex;
  visibility: hidden;
}

.chattingPage .header .right_cover .icons {
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
}

/* ------------------------------------ */
/* Chat Area Page Header Content : Ends here */
/* ------------------------------------ */

/* ------------------------------------ */
/* Chat Area Page Body Content : Starts here */
/* ------------------------------------ */

.chatOptions_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.chatOptions_cover button.optionItem {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: var(--text_font);
  font-weight: bolder;
  border-radius: 2rem;
  border: 0.05rem solid var(--footer_border);
  background-color: var(--primary_bg1);
}
.chatOptions_cover button.optionItem:hover {
  color: #000000;
  background-color: #ffffff;
}

/* .chatOptions_cover button.optionItem .icons {
  font-size: 1.5rem;
  color: red;
} */

.chattingPage .body {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(93vh - 3.3rem - 4.5rem);
  /* border: 0.1rem solid yellowgreen; */
}

.chattingPage .body .mediaSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 73, 73, 0.8);
  /* border: 0.1rem solid red; */
}

.mediaSection .upper_part {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 3.5rem);
  padding: 0.5rem 0;
}
.mediaSection .upper_part .item_cover {
  position: relative;
  display: flex;
  width: 95%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.008rem solid white;
}
.mediaSection .upper_part .item_cover .backBtn {
  z-index: 5;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  top: 0.2rem;
  left: 0.2rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  font-family: var(--text_font);
  background-color: #ffffff;
  border-radius: 1rem;
  border: 0.05rem solid var(--footer_border);
}

/* Image */
.mediaSection .upper_part .item_cover .imageItem {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* audio tag */

.mediaSection .upper_part .item_cover .audioItem,
.mediaSection .upper_part .item_cover .videoItem,
.mediaSection .upper_part .item_cover .docItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mediaSection .upper_part .item_cover .audioItem .audioIcon_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mediaSection .upper_part .item_cover .audioItem .audioIcon_cover .audioIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  font-size: 10rem;
  color: #ffffff;
  background-color: #ff8c00;
  border-radius: 50%;
  border: 0.05rem solid var(--footer_border);
}
.mediaSection .upper_part .item_cover .audioItem .audioControler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}
.mediaSection .upper_part .item_cover .audioItem .audioControler audio {
  min-width: 100%;
  outline: none;
}

.mediaSection
  .upper_part
  .item_cover
  .audioItem
  .audioControler
  audio::-webkit-media-controls-panel {
  outline: none;
  width: 100%;
  background-color: white;
}

/* Video tag */
.mediaSection .upper_part .item_cover .videoItem video {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
}

/* Document CSS */
.mediaSection .upper_part .item_cover .docItem iframe {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.mediaSection .lower_part {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 3.5rem;
}
.mediaSection .lower_part .icon_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.05rem solid var(--footer_border);
  background-color: var(--primary_bg1);
}
.mediaSection .lower_part .icon_cover .icons {
  color: #ffffff;
  font-size: 1.5rem;
  transform: translateY(-0.3rem) rotate(-10deg);
  animation: updloadIconMove 4s infinite;
}
@keyframes updloadIconMove {
  0% {
    transform: translateY(-0.3rem) rotate(-10deg);
  }
  25% {
    transform: translateY(0) rotate(10deg);
  }
  50% {
    transform: translateY(0.3rem) rotate(-10deg);
  }
  75% {
    transform: translateY(0) rotate(10deg);
  }
  100% {
    transform: translateY(-0.3rem) rotate(-10deg);
  }
}

.mediaSection .lower_part .info_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(90% - 3rem);
  min-width: 15rem;
}

.mediaSection .lower_part .info_cover p {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: var(--text_font);
  letter-spacing: 0.05rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 0.08rem solid red; */
}
.mediaSection .lower_part .info_cover p:nth-child(1) {
  font-size: 0.8rem;
}
.mediaSection .lower_part .info_cover .loading_cover {
  position: relative;
  display: flex;
  width: 100%;
  height: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
  border: 0.01rem solid #ffffff;
}
.mediaSection .lower_part .info_cover .loading_cover .progressBar {
  min-width: 0.5rem;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 0.5s;
  background-color: var(--primary_bg1);
}

/* ------------------------------------ */
/* Chat Area Page Body Content : Ends here */
/* ------------------------------------ */

/* ------------------------------------ */
/* Chat Area Page Footer Content : Starts here */
/* ------------------------------------ */
.chattingPage .footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 3.3rem;
  /* border: 0.1rem solid yellowgreen; */
}

.chattingPage .footer form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  /* border: 0.1rem solid black; */
}

.chattingPage .footer form .input_cover {
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  width: calc(100% - 3rem);
  height: 2.5rem;
  padding: 0 0.4rem;
  padding-left: 0.7rem;
  border-radius: 2rem;
  border: 0.09rem solid var(--primary_txt2);
  background-color: rgba(34, 175, 236, 0.4);
}

.reaction_section {
  z-index: -2;
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 7rem;
  padding: 0.7rem;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% + 2.4rem));
  border-radius: 0.4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0.09rem solid var(--primary_txt2);
  background-color: rgba(34, 175, 236, 0.2);
}
.reaction_section .closeBtn {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  top: -0.3rem;
  right: -0.3rem;
}
.reaction_section .closeBtn {
  color: #ffffff;
  font-size: 1.5rem;
}

.reaction_section .reaction_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.reaction_section .reaction_cover .left_cover {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 3rem);
  height: 100%;
  padding: 0 0.4rem;
}
.reaction_section .reaction_cover .left_cover p {
  font-size: 1.1rem;
  color: #ffffff;
  font-family: var(--chatting_font);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reaction_section .reaction_cover .right_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  padding: 0 0.2rem;
}
.reaction_section .reaction_cover .right_cover .item_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.08rem solid var(--footer_border);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reaction_section .reaction_cover .right_cover .item_cover .icons {
  color: #ffffff;
  font-size: 1.4rem;
}

.input_cover input {
  position: relative;
  display: flex;
  width: calc(100% - 2rem);
  height: 100%;
  font-size: 1.3rem;
  color: var(--primary_txt2);
  font-family: var(--chatting_font);
  background-color: transparent;
  outline: none;
  border: none;
}

.chattingPage .footer form .input_cover .attachment_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  /* border: 0.1rem solid red; */
}

.attachment_cover .attachBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.chattingPage .footer form .input_cover .attachment_cover .attachBtn > .icons {
  font-size: 1.6rem;
  cursor: pointer;
}

.attachment_cover .opt {
  cursor: default;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  min-height: 9rem;
  top: 0;
  right: 0;
  transform: translate(0, -105%);
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  background-color: rgba(34, 175, 236, 0.7);
}
.attachment_cover .opt label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border: 0.08rem solid var(--footer_border);
}
.attachment_cover .opt label:nth-child(1) {
  background-color: #32cd32;
}
.attachment_cover .opt label:nth-child(2) {
  background-color: #ff8c00;
}
.attachment_cover .opt label:nth-child(3) {
  background-color: #ff1493;
}
.attachment_cover .opt label:nth-child(4) {
  background-color: #dc143c;
}
.attachment_cover .opt label .icons {
  color: #ffffff;
  font-size: 1.5rem;
}
.attachment_cover .opt label:hover {
  opacity: 0.7;
}
.attachment_cover .opt label input {
  position: absolute;
  cursor: pointer !important;
  visibility: hidden;
}

.chattingPage .footer .sendBtn_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 0.3rem;
}
.chattingPage .footer .sendBtn_cover button {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.05rem solid var(--primary_txt2);
  background-color: rgba(34, 175, 236, 0.8);
}
.chattingPage .footer .sendBtn_cover button:hover {
  background-color: rgba(34, 175, 236, 1);
}
.chattingPage .footer .sendBtn_cover button .icons {
  color: white;
  font-size: 1.8rem;
}

/* ------------------------------------ */
/* Chat Area Page Footer Content : Ends here */
/* ------------------------------------ */
