@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Exo+2&family=Bruno+Ace&family=Raleway&family=Roboto+Slab&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_bg1: #22afec;
  --primary_bg2: #eeeeee;
  --primary_txt1: #ffffff;
  --primary_txt2: #000000;
  --badge_color: whitesmoke;
  --doubleTick: whitesmoke;
  --primary_border: rgba(0, 0, 0, 0.3);
  --msg_highlight: dimgray;
  --footer_border: rgba(0, 0, 0, 0.5);
  --black_border: black;
  --setting_border: lightgrey;
  --pop_bg: rgba(255, 255, 255, 0.1);
  --LoadingBg: #eeeeee;
  --left_user: lightgrey;
  --text_font: "Exo 2", sans-serif;
  --logo_font: "Bruno Ace", cursive;
  --btn_font: "Roboto Slab", serif;
  --chat_font: "Roboto Slab", serif;
  --chatting_font: "Amaranth", sans-serif;
  --header_font: "Montserrat", sans-serif;
}

:root body.darkTheme {
  --primary_txt1: #000000;
  --primary_txt2: #ffffff;
  --primary_bg1: rgb(9, 117, 164);
  --primary_bg2: rgba(0, 0, 0, 0.8);
  --badge_color: rgba(0, 0, 0, 0.6);
  --doubleTick: lime;
  --primary_border: rgba(255, 255, 255, 0.5);
  --msg_highlight: rgba(0, 0, 0, 0.6);
  --footer_border: rgba(255, 255, 255, 0.5);
  --black_border: rgba(255, 255, 255, 1);
  --setting_border: rgba(0, 0, 0, 0.3);
  --pop_bg: rgba(0, 0, 0, 0.3);
  --left_user: dimgray;
  --LoadingBg: transparent;
}

/* html {
  background-color: rgba(0, 0, 0, 0.8);
} */

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border: 0.1rem solid red; */
}
