/* ------------------------------------ */
/* Search Page Header Content : Start here */
/* ------------------------------------ */

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  max-height: 4rem;
  padding: 0 0.5rem;
  background-color: black;
  /* background-color: var(--primary_bg1); */
  /* border: 0.1rem solid black; */
}
.header form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header form label {
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 95%;
  height: 2.3rem;
  border-radius: 5rem;
  background-color: var(--primary_bg2);
  border: 0.08rem solid var(--black_border);
  overflow: hidden;
}
.header form label .icons {
  color: var(--primary_txt2);
  font-size: 1rem;
  width: 3rem;
  height: 100%;
  padding: 0 0.2rem;
  /* border: 0.1rem solid red; */
}

.header form label input {
  color: var(--primary_txt2);
  font-size: 1.2rem;
  font-family: var(--text_font);
  padding: 0 0.4rem;
  width: calc(100% - 3rem);
  height: 100%;
  outline: none;
  border: transparent;
  background-color: transparent;
  /* border: 0.1rem solid red; */
}

/* ------------------------------------ */
/* Search Page Header Content : End here */
/* ------------------------------------ */

/* ------------------------------------ */
/* Search Page Body Content : Start here */
/* ------------------------------------ */

.body {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(93vh - 3.3rem - 4rem);
  /* border: 0.1rem solid red; */
}

.body .searchItem_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0.2rem;
  overflow-y: scroll;
  /* border: 0.1rem solid red; */
}
.body .searchItem_cover::-webkit-scrollbar {
  width: 0.1rem;
  background-color: transparent;
}

.body .searchItem_cover::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: white;
}

.body .searchItem_cover::-webkit-scrollbar-track {
  background-color: transparent;
}

.body .searchItem_cover .search_items {
  position: relative;
  display: flex;
  width: 98%;
  height: 4rem;
  min-height: 4rem;
  margin: 0.2rem 0;
  border-radius: 1rem;
  border: 0.1rem solid var(--primary_border);
  background-color: rgba(34, 175, 236, 0.3);
  overflow: hidden;
}

.body .searchItem_cover .search_items .itemPic_cover {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  /* border: 0.1rem solid yellow; */
}
.body .searchItem_cover .search_items .itemPic_cover .item_pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  border: 0.08rem solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.body .searchItem_cover .search_items .itemPic_cover .item_pic .icons {
  color: whitesmoke;
  font-size: 2.8rem;
}

.body .searchItem_cover .search_items .itemName_cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(55% - 2.5rem);
  height: 100%;
  padding: 0 0.3rem;
  /* border: 0.1rem solid red; */
}

.body .searchItem_cover .search_items .itemName_cover p {
  color: var(--primary_txt2);
  font-size: 1.3rem;
  font-family: var(--text_font);
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body .searchItem_cover .search_items .itemName_cover .username_cover {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  /* border: 0.1rem solid red; */
}

.body .searchItem_cover .search_items .itemName_cover .fullname_cover {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  /* border: 0.1rem solid red; */
}
.body .searchItem_cover .search_items .itemName_cover .fullname_cover p {
  font-size: 0.9rem;
  font-weight: normal;
}

.body .searchItem_cover .search_items .itemBtn_cover {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
  width: 45%;
  height: 100%;
  padding: 0 0.6rem;
  /* border: 0.1rem solid red; */
}

.body .searchItem_cover .search_items .itemBtn_cover button {
  cursor: pointer;
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 0.45rem;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
  font-family: var(--text_font);
  border-radius: 0.5rem;
  border: 0.08rem solid rgba(0, 0, 0, 0.7);
  background-color: var(--primary_bg1);
}
.body .searchItem_cover .search_items .itemBtn_cover button .icons {
  font-size: 1.3rem;
}

.body .searchItem_cover .search_items .itemBtn_cover button.secondBtn {
  border-radius: 50%;
  padding: 0.1rem;
  color: var(--primary_txt2);
  border: 0.08rem solid var(--primary_border);
  background-color: var(--badge_color);
}

.body .searchItem_cover .search_items .itemBtn_cover button:hover {
  border: 0.08rem solid var(--primary_border);
}
.body .searchItem_cover .search_items .itemBtn_cover strong.readOnly {
  cursor: not-allowed;
  font-style: italic;
}
/* ------------------------------------ */
/* Search Page Body Content : End here */
/* ------------------------------------ */
