/* ------------------------------------ */
/* Themes Page : Start here */
/* ------------------------------------ */

.appTheme_cover {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  border-bottom: 0.1rem solid var(--setting_border);
}

.appTheme_cover strong {
  color: var(--primary_txt2);
  font-size: 1.2rem;
  font-family: var(--text_font);
}

.appTheme_cover label {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.3rem;
  height: 80%;
  padding: 0 0rem;
  border-radius: 10rem;
  overflow: hidden;
  border: 0.09rem solid var(--black_border);
}

.appTheme_cover label .checkBox {
  position: absolute;
  visibility: hidden;
}

.appTheme_cover label .checkBox:checked ~ .icons {
  color: yellow;
}

.appTheme_cover label .icons {
  position: relative;
  display: flex;
  font-size: 1rem;
  color: black;
  margin: 0 0.2rem;
  transition: all 1s;
}

.appTheme_cover label .checkBox:checked ~ span.btn_ball {
  transform: translateX(1.79rem);
}

.appTheme_cover label span.btn_ball {
  position: absolute;
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  transition: all 0.5s;
  background-color: var(--primary_bg1);
}

/* ------------------------------------ */
/* Themes Page : End here */
/* ------------------------------------ */
